@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>On this page you can find out more about our trainers.</h3>

<p>Our trainers have extensive experience in the field of education....</p>
