@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kifisias Avenue 123<br />
    Athens, Postal code 102548<br />
    <abbr title="Phone">P:</abbr>
    21158425688742
</address>

<address>
    <strong>Private School Support:</strong>   <a href="mailto:Support@example.com">PrivateSchoolSupport@example.com</a><br />
    <strong>Private School Marketing Web-Page:</strong> <a href="mailto:Marketing@example.com">PrivateSchoolMarketing@example.com</a>
</address>